<div id="content" <% unless session[:logged] == 'yes' %> style="display:none;" <% end %>>
  <%= image_tag 'victory.png', :class => 'full' %>
  <div class="row">
    <div class="large-12 columns">
      <div class="headline">
        <h1>HAPPY BIRTHDAY!</h1>
        <p>In honor of your 60th birthday, here are my top 60 memories of our lives together:</p>
      </div>

      <h2>THAT TIME WHEN...</h2>

      <ul class="memories large-block-grid-4">
        <% @memories.each_with_index do |m, index| %>
          <li>
            <a class="memory" href="#" onclick="fillModal(<%= m.id %>)" data-reveal-id="memory-modal">
              <div class="number">- <%= index + 1 %> -</div>
              <% if m.image.url %>
                <%= image_tag m.image.thumb %><br />
              <% end %>
              <%= m.description %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="toggle">
        <%= link_to 'Just want the list?', '/list' %>
      </div>

      <script>
        function fillModal(id) {
          $.ajax({
              url: "/memories/modal/" + id,
              cache: false,
              success: function(html){
                $("#memory-modal").empty();
                $("#memory-modal").append(html);
              }
          });
        }
      </script>
    </div>
  </div>
  <%= image_tag 'dad-final.JPG', :class => 'full' %>

  <div id="memory-modal" class="reveal-modal medium">
  </div>
</div>

<div id="login" <% if session[:logged] == 'yes' %> style="display:none;" <% end %>>
  <div class="row">
    <div class="small-6 small-centered columns">
      <form action=''>
        <label>What is your nickname for me?</label>
        <p>Hint: it's a bug.</p>
        <input type="password" id="password" />
        <p class="error" style="display:none;">Nope!</p>
        <button type="submit">Submit!</button>
      </form>
    </div>
  </div>
</div>

<script>
  $('#login form').submit(function() {
    var password = 'grasshopper';
    var input = $('input#password').val();
    
    if(password == input) {
      $('#content').show();
      $('#login').hide();
      <% session[:logged] = 'yes' %>
    } else {
      $('p.error').show();
    }
    return false;
  });
</script>
